<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OAuth API Server</title>
    <link href="/stylesheets/application.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
